/* Add your CSS here to style your halloween page */
@keyframes myAnimation {
  0%   {background-color: red;}
  25%  {background-color: rgb(53, 50, 50);}
  50%  {background-color: orange;}
  100% {background-color: red;}
}
@keyframes myAnimation2 {
  from {left: 0px;}
  to {left: 75px;}
}
body{
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    background-color: myAnimation;
    color: #efd1bd;
    font-family: 'Creepster', cursive;
    text-align: center;
}
main{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 2em 2em;
    text-align: center;
    border-radius: 3em;
}
ul{
    text-decoration: none;
    text-align: center;
    list-style-position: inside;
}
li{
    display: inline-block;
    margin: 2em;
    padding: 1em 1.5em;
    border-radius: .3em;
    color: #ff7518;
    background-color: aliceblue;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}
p{
    background-color: burlywood;
    color: black;
    margin: .5em;
    text-align: center;
    border-radius: .75em;
}
img{
    animation-name: myAnimation2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative
}